Nama: Muhammad Ashlah Afifi

NIM: 1103210216

Kelas: TK-44-G04

Tugas: Machine Learning UTS GColab

IMPORT THE LIBRARIES

In [53]:
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report,mean_absolute_error,mean_absolute_percentage_error,mean_squared_error
from sklearn.ensemble import RandomForestClassifier

CONNECT GCOLAB TO GDRIVE

In [54]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [55]:
# Assuming your dataset is a CSV file named 'data.csv'
train = pd.read_csv ('/content/drive/MyDrive/Dataset/train.csv')
test = pd.read_csv ('/content/drive/MyDrive/Dataset/test.csv')

<ipython-input-55-ce689e3f3f16>:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv ('/content/drive/MyDrive/Dataset/train.csv')

In [56]:
# Show data train
print("\nData Train\n")
print(train.head(10))

Data Train

       ID Customer_ID     Month             Name   Age          SSN  \
0  0x1602   CUS_0xd40   January    Aaron Maashoh    23  821-00-0265
1  0x1603   CUS_0xd40  February    Aaron Maashoh    23  821-00-0265
2  0x1604   CUS_0xd40     March    Aaron Maashoh  -500  821-00-0265
3  0x1605   CUS_0xd40     April    Aaron Maashoh    23  821-00-0265
4  0x1606   CUS_0xd40       May    Aaron Maashoh    23  821-00-0265
5  0x1607   CUS_0xd40      June    Aaron Maashoh    23  821-00-0265
6  0x1608   CUS_0xd40      July    Aaron Maashoh    23  821-00-0265
7  0x1609   CUS_0xd40    August              NaN    23    #F%$D@*&8
8  0x160e  CUS_0x21b1   January  Rick Rothackerj   28_  004-07-5839
9  0x160f  CUS_0x21b1  February  Rick Rothackerj    28  004-07-5839

  Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0  Scientist      19114.12            1824.843333                  3  ...
1  Scientist      19114.12                    NaN                  3  ...
2  Scientist      19114.12                    NaN                  3  ...
3  Scientist      19114.12                    NaN                  3  ...
4  Scientist      19114.12            1824.843333                  3  ...
5  Scientist      19114.12                    NaN                  3  ...
6  Scientist      19114.12            1824.843333                  3  ...
7  Scientist      19114.12            1824.843333                  3  ...
8    _______      34847.84            3037.986667                  2  ...
9    Teacher      34847.84            3037.986667                  2  ...

   Credit_Mix  Outstanding_Debt Credit_Utilization_Ratio  \
0           _            809.98                26.822620
1        Good            809.98                31.944960
2        Good            809.98                28.609352
3        Good            809.98                31.377862
4        Good            809.98                24.797347
5        Good            809.98                27.262259
6        Good            809.98                22.537593
7        Good            809.98                23.933795
8        Good            605.03                24.464031
9        Good            605.03                38.550848

      Credit_History_Age  Payment_of_Min_Amount Total_EMI_per_month  \
0  22 Years and 1 Months                     No           49.574949
1                    NaN                     No           49.574949
2  22 Years and 3 Months                     No           49.574949
3  22 Years and 4 Months                     No           49.574949
4  22 Years and 5 Months                     No           49.574949
5  22 Years and 6 Months                     No           49.574949
6  22 Years and 7 Months                     No           49.574949
7                    NaN                     No           49.574949
8  26 Years and 7 Months                     No           18.816215
9  26 Years and 8 Months                     No           18.816215

  Amount_invested_monthly                 Payment_Behaviour  \
0       80.41529543900253   High_spent_Small_value_payments
1      118.28022162236736    Low_spent_Large_value_payments
2         81.699521264648   Low_spent_Medium_value_payments
3       199.4580743910713    Low_spent_Small_value_payments
4      41.420153086217326  High_spent_Medium_value_payments
5      62.430172331195294                            !@9#%8
6       178.3440674122349    Low_spent_Small_value_payments
7      24.785216509052056  High_spent_Medium_value_payments
8        104.291825168246    Low_spent_Small_value_payments
9       40.39123782853101   High_spent_Large_value_payments

      Monthly_Balance Credit_Score
0  312.49408867943663         Good
1  284.62916249607184         Good
2   331.2098628537912         Good
3  223.45130972736786         Good
4  341.48923103222177         Good
5   340.4792117872438         Good
6   244.5653167062043         Good
7  358.12416760938714     Standard
8  470.69062692529184     Standard
9   484.5912142650067         Good

[10 rows x 28 columns]

In [57]:
# Show data test
print("\nData Test\n")
print(test.head(10))

Data Test

       ID Customer_ID      Month             Name  Age          SSN  \
0  0x160a   CUS_0xd40  September    Aaron Maashoh   23  821-00-0265
1  0x160b   CUS_0xd40    October    Aaron Maashoh   24  821-00-0265
2  0x160c   CUS_0xd40   November    Aaron Maashoh   24  821-00-0265
3  0x160d   CUS_0xd40   December    Aaron Maashoh  24_  821-00-0265
4  0x1616  CUS_0x21b1  September  Rick Rothackerj   28  004-07-5839
5  0x1617  CUS_0x21b1    October  Rick Rothackerj   28    #F%$D@*&8
6  0x1618  CUS_0x21b1   November  Rick Rothackerj   28  004-07-5839
7  0x1619  CUS_0x21b1   December  Rick Rothackerj   28  004-07-5839
8  0x1622  CUS_0x2dbc  September           Langep   35  486-85-3974
9  0x1623  CUS_0x2dbc    October           Langep   35  486-85-3974

  Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  ...  \
0  Scientist      19114.12            1824.843333                  3  ...
1  Scientist      19114.12            1824.843333                  3  ...
2  Scientist      19114.12            1824.843333                  3  ...
3  Scientist      19114.12                    NaN                  3  ...
4    _______      34847.84            3037.986667                  2  ...
5    Teacher      34847.84            3037.986667                  2  ...
6    Teacher      34847.84            3037.986667                  2  ...
7    Teacher      34847.84            3037.986667                  2  ...
8   Engineer     143162.64                    NaN                  1  ...
9   Engineer     143162.64           12187.220000                  1  ...

   Num_Credit_Inquiries  Credit_Mix Outstanding_Debt Credit_Utilization_Ratio  \
0                2022.0        Good           809.98                35.030402
1                   4.0        Good           809.98                33.053114
2                   4.0        Good           809.98                33.811894
3                   4.0        Good           809.98                32.430559
4                   5.0        Good           605.03                25.926822
5                   5.0        Good           605.03                30.116600
6                   5.0           _           605.03                30.996424
7                   5.0           _           605.03                33.875167
8                   3.0        Good          1303.01                35.229707
9                   3.0        Good          1303.01                35.685836

       Credit_History_Age Payment_of_Min_Amount Total_EMI_per_month  \
0   22 Years and 9 Months                    No           49.574949
1  22 Years and 10 Months                    No           49.574949
2                     NaN                    No           49.574949
3   23 Years and 0 Months                    No           49.574949
4   27 Years and 3 Months                    No           18.816215
5   27 Years and 4 Months                    No           18.816215
6   27 Years and 5 Months                    No           18.816215
7   27 Years and 6 Months                    No           18.816215
8   18 Years and 5 Months                    No          246.992319
9   18 Years and 6 Months                    No          246.992319

   Amount_invested_monthly                 Payment_Behaviour  \
0       236.64268203272135    Low_spent_Small_value_payments
1       21.465380264657146  High_spent_Medium_value_payments
2       148.23393788500925   Low_spent_Medium_value_payments
3        39.08251089460281  High_spent_Medium_value_payments
4       39.684018417945296   High_spent_Large_value_payments
5       251.62736875017606    Low_spent_Large_value_payments
6        72.68014533363515   High_spent_Large_value_payments
7       153.53448761392985                            !@9#%8
8       397.50365354404653   Low_spent_Medium_value_payments
9        453.6151305781054    Low_spent_Large_value_payments

      Monthly_Balance
0  186.26670208571772
1  361.44400385378196
2  264.67544623342997
3  343.82687322383634
4   485.2984336755923
5   303.3550833433617
6  452.30230675990265
7  421.44796447960783
8   854.2260270022115
9   788.1145499681528

[10 rows x 27 columns]

In [58]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [59]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

Delete Unnecessary Columns

In [60]:
# delete unnecessary columns
cols_to_drop = ['ID', 'Customer_ID', 'Name', 'SSN', 'Credit_History_Age', 'Type_of_Loan']
train.drop(columns=cols_to_drop, inplace=True)
test.drop(columns=cols_to_drop, inplace=True)
test.describe()
train.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

PREPROCESS

In [61]:
# # 1. Data Preprocess

# Deleting
data_train = train.applymap(lambda x: x.replace('_', '') if isinstance(x, str) else x)
data_test = test.applymap(lambda x: x.replace('_', '') if isinstance(x, str) else x)

# EnCoding Categorical
categorical = ['Month',"Occupation","Credit_Mix","Payment_of_Min_Amount","Payment_Behaviour","Credit_Score"]
label_encoder = LabelEncoder()
for x in categorical[:-1]:
    data_test[x] = label_encoder.fit_transform(data_test[x])
for x in categorical:
    data_train[x] = label_encoder.fit_transform(data_train[x])

# Filter out negative values in numeric columns
data_test = data_test.apply(pd.to_numeric,errors='coerce')
data_test = data_test.applymap(lambda x: x if x >= 0 else None)
data_test.dropna(axis=0,inplace=True)

data_train = data_train.apply(pd.to_numeric,errors='coerce')
data_train = data_train.applymap(lambda x: x if x >= 0 else None)
data_train.dropna(axis=0,inplace=True)

# Calculate quartiles for each feature
quartiles1 = data_test.quantile([0.25, 0.75])
quartiles2 = data_train.quantile([0.25, 0.75])

# Calculate IQR (Interquartile Range) for each feature
IQR1 = quartiles1.loc[0.75] - quartiles1.loc[0.25]
IQR2 = quartiles2.loc[0.75] - quartiles2.loc[0.25]

# Define lower and upper bounds for each feature
lower_bound1 = (quartiles1.loc[0.25] - 1.5 * IQR1).to_dict()
upper_bound1 = (quartiles1.loc[0.75] + 1.5 * IQR1).to_dict()
lower_bound2 = (quartiles2.loc[0.25] - 1.5 * IQR2).to_dict()
upper_bound2 = (quartiles2.loc[0.75] + 1.5 * IQR2).to_dict()

# Filter out data points outside the bounds for each feature
filtered_data1 = data_test.copy()
for feature in data_test.columns:
    lower_bound_value1 = lower_bound1[feature]
    upper_bound_value1 = upper_bound1[feature]
    filtered_data1 = filtered_data1[(filtered_data1[feature] >= lower_bound_value1) & (filtered_data1[feature] <= upper_bound_value1)]
data_test = filtered_data1

filtered_data2 = data_train.copy()
for feature in data_train.columns:
    lower_bound_value2 = lower_bound2[feature]
    upper_bound_value2 = upper_bound2[feature]
    filtered_data2 = filtered_data2[(filtered_data2[feature] >= lower_bound_value2) & (filtered_data2[feature] <= upper_bound_value2)]
data_train = filtered_data2

RANDOM FOREST

In [62]:
# 2. Machine Learning Models (Random Forest)

# Memilih fitur-fitur yang bukan tipe data integer untuk data train
X_train = data_train.drop('Credit_Score',axis=1)
y_train = data_train['Credit_Score']

# Memilih fitur-fitur yang sama untuk data test
X_test = data_test

# Membagi data train menjadi data latih dan data validasi
X_train, X_valid, y_train, y_valid = train_test_split(X_train, y_train, test_size=0.1, random_state=42)


# Create Random Forest model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)  # You can adjust the number of estimators

# Train the model
rf_model.fit(X_train, y_train)

# Make predictions
y_pred_valid_rf = rf_model.predict(X_valid)

EVALUASI MSE DAN RMSE

In [63]:
# Evaluate the model
accuracy = accuracy_score(y_valid, y_pred_valid_rf)
print("Accuracy:", accuracy)

# Evaluate the model
accuracy = accuracy_score(y_valid, y_pred_valid_rf)
print("Accuracy:", accuracy)

# Calculate mean squared error (MSE)
MSE = mean_squared_error(y_valid, y_pred_valid_rf)
print("Mean Squared Error (MSE):", MSE)

# Calculate mean absolute error (MAE)
MAE = mean_absolute_error(y_valid, y_pred_valid_rf)
print("Mean Absolute Error (MAE):", MAE)

Accuracy: 0.7950084807366126
Accuracy: 0.7950084807366126
Mean Squared Error (MSE): 0.4521444148291737
Mean Absolute Error (MAE): 0.28737581778531623